<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finura</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="w-full fixed top-0 left-0 flex gap-4 px-32 py-4">
        <a class="text-xl cursor-pointer" href="">Finura</a>
        <a class="text-xl cursor-pointer" href="">Finura</a>
        <a class="text-xl cursor-pointer" href="">Finura</a>
        <a class="text-xl cursor-pointer" href="">Finura</a>
    </nav>